/* Global */
* {
    margin: 0;
    padding: 10px;
}

.bottom {
    width:25%;
    margin:25px auto;
    bottom: 0;
    text-align:center;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
    background-color:#9c0000;
    margin:35px;
}

#nav-title {margin-right:auto;}

header li {
    font-size: 18px;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #ffff00;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #ffffff;
}

/*Redes*/

#redes ul{
  display:block;
  list-style:none;
  padding:0px;
  overflow:hidden;
  margin:0px auto;
  background-color:#9c0000;
  max-height:75px;
}

#redes ul li{
  display:inline-block;
  }


#redes ul li a{
  display:block;
  width:24px;
  height:24px;
  background: url("https://static.vecteezy.com/system/resources/thumbnails/012/186/044/small/social-media-popular-icon-collection-facebook-youtube-tiktok-telegram-whatsapp-skype-free-png.png");
  float:left;
  background-color:#ffff00;
  margin:4px;
  border:2px solid #ffff00;
  transition: all 0.4s ease;
}

#redes ul li a.infierno{
  background-position:3px -76px;
}

#redes ul li a.yutube{
  background-position:-115px -12px;
}

#redes ul li a.RSS{
  background-position:-56px -77px;
}

#redes ul li a:hover{
  background-color:white;
  border:2px solid white;
  border-radius:5px;
}

/*Grid*/

.grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:1.25rem;
  max-width:75%;
  margin:auto;
}

/*Breakpoints*/

 /*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  nav ul li {display:none;}
  #redes {display:none;}

 /*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  nav ul li {display:none;}
  .prboom {display:none;}
  .zandronum {display:none;}
}
 
 /*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  #navtagtre {display:none;}
  #navtagcua {display:none;}
  #navtagcin {display:none;}
  .zandronum  {display:none;}
}

 /*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {}

